body {
    background-color: rgba(26, 26, 26, 0.91);
}

.container {
    max-width: 680px;
    margin: 40px auto auto;
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 15px;
}

.minha-foto {
    width: 200px;
    border-radius: 100%;
}

.nome {
    margin-bottom: 0;
}

.rotulos {
    margin-bottom: 0    ;
}

.sobre-mim {
    max-width: 480px;
    text-align: justify;
}

.links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    max-width: 480px;
}

.links > a {
    font-size: 1.5em;
}

